*{
    margin: 0;
    font-family: Arial;
    border: border-box;


}

.navbar{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url('amazon_logo.png');
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box 2 */
.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}



.add-second{
    color: FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    height: 40px;
    width: 620px;
    border-radius: 4px;

}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;

}
/* box 4 */

span{
    font-size:0.7rem;

}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}


/* box 6 */

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops p{
    display: inline;
    margin-left: 50px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}


/* hero section */
.hero-section{
    background-image: url('images/hero_image.jpg');
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}

.hero-msg a{
    color: #007185;

}

/* shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.box{
    /* border: 2px solid black; */
    height: auto;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
    

}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}


.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

.box-content p{
    color: #007185;
}


/* footer */

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475A;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;


}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}


.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url('images/amazon_logo.png');
    background-size: cover;
    height: 50px;
    width: 100px;

}


/* panel 4 */

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
   
    padding-top: 5px;

}


/* Add this media query at the end of your CSS code */

@media only screen and (max-width: 768px) {
    /* Adjust styles for smaller devices */
  
    .navbar {
      flex-direction: column;
      height: auto;
    }
  
    .nav-search {
      width: auto;
    }
  
    .search-select {
      width: auto;
    }
  
    .search-input {
      width: auto;
    }
  
    .search-icon {
      width: auto;
    }
  
    .panel {
      flex-wrap: wrap;
    }
  
    .panel-ops {
      margin-left: 0;
      width: 100%;
    }
  
    .hero-section {
      height: 250px;
    }
  
    .shop-section {
      flex-direction: column;
    }
  
    .box {
      width: 90%;
      margin-top: 0.5rem;
    }
  
    .box-img {
      height: 200px;
    }
  
    .foot-panel2 {
      flex-direction: column;
      height: auto;
    }
  
    .foot-panel3 {
      height: auto;
    }
  
    .foot-panel4 {
      height: auto;
    }
  }
  